.container {
    position: fixed;
    width: 220px;
    top: 15px;
    left: 15px;
    bottom: 15px;
    background-color: white;

    .picture {
        margin-bottom: 10px;
        max-width: 100%;
    }
}